/*styling for the description and title part*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&family=Open+Sans:wght@300&display=swap');
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, #disclaimer, input, label{
  margin: 1%;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.2em;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#disclaimer{
  margin-top: 2%;
  font-style: oblique;
  font-size: .9em;
}
body{
  height: 100vh;
  width: 100%;
  background-image: url('../images/thumb2-blue-technology-world-map-blue-technology-background-global-networks-social-networks-background-world-map.jpg');
  background-size: contain;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
}
#overlay{
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom, rgba(158, 27, 27, 0.1), rgba(255, 255, 255, 0.8));
  width: 80%;
  border-radius: 20px;
  backdrop-filter: blur(4px);
}
.form, #display{
  width: 100%;
  color: black;
  padding:2% 4%;
  border-radius: 20px;
  text-align: center;
}
form{
  font-size: 1.8em;
}
#intro{
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  color: black;
  padding:2% 4%;
  border-radius: 20px 20px 0 0;
  text-align: center;
}
#display{
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 0px 0px 20px 20px;
  font-size: 1.3rem;
  line-height: 1.5em;
  font-style: oblique;
}
.form{
  margin: 2%;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
nav, button{
  text-align: center;
  padding: 0.5% 1%;
  border-radius: 5px;
  color: white;
  background-color: rgba(6, 49, 97, 0.7);
  border-color: white;
}
nav:hover, button:hover{
  font-size: 1rem;
}
img{
  width: 20%;
  border: 5px solid rgba(106, 90, 205, 0.4);
}
p{
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}